html {
    display: flex;
}

.log-in {
    background: lightcoral
}

.sticky {
background: rgba(199, 88, 88, 0.815);
}

.content {
    border: 1px solid black;
}

.intuit-title {
    background: darkorange;
}

.child-logos {
    background: lightsalmon;
}

.row {
    border: .5px dashed black
}

.grid {
    background: rgb(242, 243, 165);
}

.footing-info {
    background: lightgray;
}